{% extends "base.html" %}


{% block content %}
  <h1>Сайт: {{ url.name }}</h1>
  <div class="table-responsive">
    <table data-test="url" class="table table-bordered table-hover text-nowrap">
      <thead>
        <tr>
          <th>ID</th>
          <th>Имя</th>
          <th>Дата создания</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ url.id }}</td>
          <td>{{ url.name }}</td>
          <td>{{ url.created_at }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <h2 class="mt-5 mb-3">Проверки</h2>
  <form action="{{ url_for('check', url_id=url.id) }}" method="post" id="form1">
    <button class='btn btn-primary' type="submit" form="form1" value="Submit">Запустить проверку</button>
  </form>

  <div>
    <table data-test="checks" class="table table-bordered table-hover mt-2">
      <thead>
        <tr>
          <th>ID</th>
          <th>Код ответа</th>
          <th>h1</th>
          <th>title</th>
          <th>description</th>
          <th>Дата создания</th>
        </tr>
      </thead>
      <tbody>
        {% for check in checks %}
        <tr>
          <td>{{ check.id }}</td>
          <td>{{ check.status_code }}</td>
          <td>{{ check.h1 }}</td>
          <td>{{ check.title }}</td>
          <td>{{ check.description }}</td>
          <td>{{ check.created_at }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
