{% extends "base.html" %}


{% block content %}
  <h1>Сайт: {{ url.name }}</h1>
  <table data-test="url" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ url.id }}</td>
        <td>{{ url.name }}</td>
        <td>{{ url.created_at }}</td>
      </tr>
    </tbody>
  </table>



  <form action="{{ url_for('check', url_id=url.id) }}" method="post" id="form1">
    <button class='btn btn-primary' type="submit" form="form1" value="Submit">Запустить проверку</button>
  </form>
  <h2>Проверки</h2>
  <table data-test="checks" class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Код ответа</th>
        <th>h1</th>
        <th>title</th>
        <th>description</th>
        <th>Дата создания</th>
      </tr>
    </thead>
    <tbody>
      {% for check in checks %}
      <tr>
        <td>{{ check.id }}</td>
        <td>{{ check.status_code }}</td>
        <td>{{ check.h1 }}</td>
        <td>{{ check.title }}</td>
        <td>{{ check.description }}</td>
        <td>{{ check.created_at }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
